<div class="w-full">
  <div class="mx-auto">
    <% if notice.present? %>
      <p id="notice"><%= notice %></p>
    <% end %>

    <h1><%= @user.name%></h1>

    <%= link_to "Edit this user", edit_user_path(@user), class: "link" %>
    <div>
      <%= button_to "Destroy this user", user_path(@user), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn" %>
    </div>
  </div>
</div>
