<div>
  <h1>New client</h1>

  <p>Note: to add information about hours worked or amount billed, create the client first and then click on "Add project for this client" </p>

  <%= render "form", client: @client %>

  <%= link_to "Back to home", root_path, class: "link" %>
</div>