<div>
  <%= render "client", client: @client %>
   <%= link_to "Edit this client", edit_client_path(@client), class: "btn", style: "text-decoration: none;" %>
  <%= link_to "Add project for this client", new_client_project_path(@client), class: "btn", style: "text-decoration: none;" %>
  <%= button_to "Delete Client", client_path(@client), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "delete-btn" %>
</div>