<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1><%= @client.name%>'s projects</h1>
<% @projects.each do |project|%>
<%= render "project", project: project%>
<% end%>
<br>
<%= link_to "Add Project", new_client_project_path(@client), class: "btn", style: "text-decoration: none;" %>
<br>