<div>
  <%= render "project", project: @project %>
  <%= link_to "Add Project", new_client_project_path(@project.client), class: "btn", style: "text-decoration: none;" %>
  <%= button_to "Delete Project", project_path(@project), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "delete-btn" %>
</div>