<div>
  <div>
    <% if notice.present? %>
      <p id="notice"><%= notice %></p>
    <% end %>
  </div>
  <br>
  <div>
    <h1>Welcome to Freelancer Helper</h1>
    <h2>Get organized, work less, and earn more</h2>
    <p>We want to empower you to be in control of your work, make the most of your time and be a successful solopreneur for many years to come.</p>
    <p>Whether you are just starting out your freelancing adventures or are a seasoned pro, we hope you find our tools helpful.</p>
    <p>We can help you know how much you should charge per hour and how lucrative your current clients are.</p>
  </div>
  <div>
    <p>To start, <%=link_to "please login", new_session_path, class: "hover"%> or <%=link_to "create an account", new_user_path, class: "hover"%>.</p>
  </div>
</div>
