<div>
  <% if notice.present? %>
      <p id="notice"><%= notice %></p>
    <% end %>
  <br>
  <h1>Welcome to Freelancer Helper</h1>
  <h2>Get organized, work less, and earn more</h2>
  <p>We want to empower you to be in control of your work, make the most of your time and be a successful solopreneur for many years to come.</p>
  <p>Whether you are just starting out your freelancing adventures or are a seasoned pro, we hope you find our tools helpful.</p>
  <p>We can help you know how much you should charge per hour and how lucrative your current clients are.</p>
  <p>To start, have a look here: <%=link_to "Rate Calculator", new_rate_path, class: "hover"%></p>
</div>
