@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  main {
    @apply prose mx-auto
  }

  .btn {
    @apply bg-green-600 hover:bg-green-500 text-white font-bold py-2 px-4 rounded inline-block;
    margin-top: 1%;
    margin-right: 1%;
    margin-botton: 1%;
  }

  .link {
    @apply rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium
  }

  .hover {
    @apply hover:text-orange-700
  }

  #notice {
    @apply py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block
  }

  #error_explanation {
    @apply bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3
  }

}

