@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  main {
    @apply prose mx-auto
  }

  .btn {
    @apply bg-gray-500 hover:bg-black text-white font-bold py-2 px-4 rounded inline-block;
    margin-top: 1%;
    margin-right: 1%;
    margin-botton: 1%;
  }

}

