<div>
  <div>
    <% if notice.present? %>
      <p id="notice"><%= notice %></p>
    <% end %>

    <% if @rate%>
      <h1><%= @username%>, this is your Freelancer Summary</h1>
      <%= render "rate/rate", rate: @rate %>
    <% else%>
      <h1>Freelancer Summary</h1>
      <p> Looks like you haven't provided any data about your freelancer journey. Our <%= link_to "Rate Calculator", rate_path, class: "hover" %> is a great place to start!</p>
    <% end%>

  </div>
</div>